<footer id="footer" style="
display:grid;
grid-template-columns: repeat(20,5%);
grid-template-rows: repeat(20,5%);
height: 40vh;
">


  <div class="footer-social footer-layout-social">
      {% include social.html %}
  </div>

  <div class="footer-layout-text">
    <h1 style="color: #fff; margin:0; line-height: 1.2; letter-spacing: 0.05rem;">Collegiate Entrepreneurs Organisation</h1>
    <h1 style="line-height: 1.2;letter-spacing: 0.05rem; font-size: 3rem;">Delhi University</h1>
  </div>

  <div class="footer-layout-copy">
    &copy; CEO, Delhi University
  </div>

</footer>