
     <header class="showcase">
    <div class="container-show showcase-inner">
     <div class="showcase-elements-text" >
          <h1>We Breathe Startups!</h1>
          <p>From providing startup consulting to running our own chapter business, from writing blogs to running a dope social media channel, we are knees-deep in the startup ecosystem. Hit the explore button if you stan the startup world, like we do!</p>
          <a href="#what" class="button">Explore</a>
      </div>
         <div class="showcase-elements-image"
 >
          <img src="/Startup_PNG.png">
     </div> 
     </div>
                
</header>
